.title {
    text-align: center;
    color: #e5a120;
}

img {
    position: inherit;
    max-width: 600px;
    max-height: 450px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-inline-end: 5%;    
}

.menu-list {
    list-style: inside;
    display: flex;
    flex-direction: column;
}

.menu-list > li {
    margin: 3px;
    border: 2px solid sienna;
    padding-right: 5px;
    background-color: #dda949;
    border-radius: 4px;
}